@model IEnumerable<RandomThoughts>
@using System.Web;
@using System.Text.RegularExpressions;


<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Draft and Published Post</span>
        <h3 class="page-title">Random Thoughts Posts</h3>
    </div>
</div>
<partial name="_Notification" />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            <div class="card card-small card-post mb-4">
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="Blog" asp-action="Edit" asp-route-id="@item.Id" class="text-fiord-blue">@item.Title</a></h5>
                    <p class="card-text text-muted">@HttpUtility.HtmlDecode(Regex.Replace(item.Content.Substring(0, Math.Min(item.Content.Length, 250)), @"<[^>]+>", ""))...</p>

                </div>
                <div class="card-footer border-top d-flex">
                    <div class="card-post__author d-flex">

                        <div class="d-flex flex-column justify-content-center ml-3">

                            <small class="text-muted">@item.CreatedDateTime.ToString("MMMM dd, yyyy")</small>
                        </div>
                    </div>

                    <div class="my-auto ml-auto">
                        @if (item.Status == "draft")
                        {
                            <a class="card-post__category badge badge-pill badge-warning text-white">@item.Status</a>
                        }
                        else
                        {
                              <a class="card-post__category badge badge-pill badge-info text-white">@item.Status</a>
                        }

                        <a class="btn btn-sm btn-white" asp-controller="Random" asp-action="Edit" asp-route-id="@item.Id" asp-route-slug="@item.Slug">
                            <i class="fas fa-edit mr-1"></i> Edit
                        </a>

                    </div>
                </div>
            </div>
        </div>
    }
</div>