@model ContentsList
@using System.Web;
@using System.Text.RegularExpressions;
@using hannahM;
@{

    Layout = "~/Views/Shared/_Main.cshtml";

}
<div class="container">
    <div class="row">
        <div class="col-lg-7">
            @foreach (var item in Model.post)
            {
                <div class="card" style="text-align:center;border:none;">
                    <div class="card-body">
                        @if (item.Category == "Blog")
                        {
                            <h6 class="short">@ViewBag.Blog</h6>

                        }
                        @if (item.Category == "Random")
                        {
                            <h6 class="short">@ViewBag.RandomThoughts</h6>

                        }
                        @if (item.Category == "Both")
                        {
                            <h6 class="short">@ViewBag.All</h6>
                        }
                        <h5 class="card-title"><a data-id="@item.Id" class="hover-underline-animation selected" asp-controller="Main" asp-action="Blog_post_read" asp-route-id="@item.Id" asp-route-slug="@item.Slug">@item.Title</a></h5>                        

                        <pre class="card-text text-muted"><i class="bi bi-calendar"></i> @item.CreatedDateTime.ToString("MMMM dd, yyyy") <i class="bi bi-eye"></i> Views : @item.Views</pre>

                        <div><p class="text-muted" style="text-align: center;">@HttpUtility.HtmlDecode(Regex.Replace(item.Content.Substring(0, Math.Min(item.Content.Length, 250)), @"<[^>]+>", ""))... </p></div>
                        <a asp-controller="Main" asp-action="Blog_post_read" asp-route-id="@item.Id" asp-route-slug="@item.Slug" class="hover-underline-animation default-font"> Read More</a>
                    </div>
                </div>
                <hr>
            }
        </div>
        <div class="col-lg-5">
            @foreach (var item in Model.stories)
            {
                <div class="card mb-3 shadow-sm" style="border:none;">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="data:image/jpg;base64,@Convert.ToBase64String(item.Cover)" class="card-img" alt="..." style="filter: grayscale(100%);">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><a class="hover-underline-animation" asp-controller="Main" asp-action="Part" asp-route-id="@item.Id" asp-route-slug="@item.Slug">@item.Title</a></h5>
                                <p class="card-text">@HttpUtility.HtmlDecode(Regex.Replace(item.Desc.Substring(0, Math.Min(item.Desc.Length, 200)), @"<[^>]+>", ""))... </p>
                                <a asp-controller="Main" asp-action="Part" asp-route-id="@item.Id" asp-route-slug="@item.Slug" class="hover-underline-animation default-font" type="submit" name="submit" value="@ViewBag.Blog"> Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@*<script>
    $(document).ready(function() {
        $(".selected").each(function(index) {
            $(this).on("click", function() {
                var id = $(this).data('id');
                window.location.href = '@Url.ActionLink("addVisitor", "Main")/' + id;
            });
        });

    });
</script>*@