@model IEnumerable<StoryViewModel>

<partial name="_Notification" />
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Title</span>
        <div class="">
            <h3 class="page-title">
                Chapters <a class="btn btn-add text-dark" onclick="window.history.go(-1); return false;"> <i class="fa fa-arrow-circle-left"></i> Back</a>
            </h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-5 col-sm-12 mb-3">
        <div class="card">
            <div class="row g-0">
                @foreach (var item in Model.Take(1))
                {
                    <div class="col-sm-5">
                        @if (item.stories.Cover != null && !String.IsNullOrEmpty(Convert.ToBase64String(item.stories.Cover)))
                        {
                            <img src="data:image/jpg;base64,@Convert.ToBase64String(item.stories.Cover)" class="card-img-top h-100" alt="...">
                        }
                        else
                        {
                            <img src="//upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg" class="card-img-top h-100" alt="...">
                        }
                    </div>
                    <div class="col-sm-7">
                        <div class="card-body">
                            <h5 class="card-title">@item.stories.Title</h5>
                            <p class="card-text">@item.stories.Desc</p>
                            <div class="d-flex mb-3">
                                <small class="text-muted"><i class="fas fa-list mr-1"></i>@item.stories.TotalChapters Chapters</small>&ensp;
                                <small class="text-muted"><i class="fas fa-eye mr-1">&nbsp;</i> @item.stories.Views Reads</small>&ensp;
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-7 mb-3">
        <div class="card card-small mb-4">
            <h6 class="card-header d-flex justify-content-between align-items-center">
                <b>Table of Contents</b>
                @foreach (var item in Model.Take(1))
                {
                    <a asp-controller="Story" asp-action="NewChapter" asp-route-id="@item.stories.Id" class="btn btn-sm btn-success"><i class="fas fa-plus mr-1"></i> Add Chapter</a>
                }
            </h6>
            <div class="card-body p-0 pb-3 table-responsive">
                <table class="table mb-0 table-borderless">
                    <thead>
                        <tr class="border-bottom">
                            <th>Chapter Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.chapters != null)
                            {
                                <tr>
                                    <td href="">
                                        @item.chapters?.Title
                                    </td>
                                    <td class="text-right">
                                        <a asp-controller="Story" asp-action="EditChapter" asp-route-id="@item.chapters?.Id" asp-route-slug="@item.chapters?.Slug" type="button" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    CKEDITOR.replace('editor1', {
        height: 350
    });
</script>